@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Vina+Sans&display=swap');

*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    font-family: NotoSansDisplay, Arial, sans-serif;
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 135px;
    left: 69px;
    top: 17px;
    filter: brightness(100%);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #EEE;
}

::-webkit-scrollbar-thumb {
    background: rgb(0,0,0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0,0,0);
}

body{
    background: #FFF;
    min-height: 100vh;
    max-width: 100vw;
}

main{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background{
    z-index: -2;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background: #FFF;
    background-size: cover;
    position: fixed;
    margin: 0;
}

/*header*/

header{
    position: relative;
    z-index: 69;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    background: rgb(223,0,0);
    box-shadow: 2px 2px 10px rgba(30,0,0,0.3);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.title-wrap > a{
    z-index: 100;
}

.button-wrap > a{
    z-index: 100;
}

.button-wrap{
    margin-right: 2rem;
    align-items: center;
    width: 60%;
    display: flex;
    justify-content: right;
    gap: 2vw;
}

.headerbutton{
    color: #EEE;
    text-decoration: none;
    font-size: 2.5rem;
}

.headerbutton:hover{
    text-decoration: underline;
}

.title-wrap{
    margin-left: 0.5rem;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title{
    color: #EEE;
    font-size: 3vw;
}

.logo-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 90%;
}

/*footer*/

.footer{
    position: absolute;
    width: 100%;
    height: 10vh;
    background: #DDD;
    box-shadow: -2px -2px 10px rgba(30,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 1.8rem;
    bottom: 0px;
}

.footer > h3{
    padding-right: 1rem;
}

.footer > a{
    padding-right: 1rem;
    color: black;
    text-decoration: none;
}

.footer > a:hover{
    text-decoration: underline;
}

.footer > h3:nth-child(1) {
    padding-top: 1rem;
}

/*Home page*/

.slogansection{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/sloganback.webp) center no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: left;
}

.slogan-text-wrap{
    margin-left: 20vh;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: left;

}

.slogan-text{
    color: #EEE;
    font-size: 4rem;
}

.slogan-text > span{
    color: #ffc739;
}

.heading{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
}

.heading-image-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.heading-image-wrap-wrap{
    height: 85%;
    aspect-ratio: 1;
    margin-left: 5%;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-image{
    width: 80%;
    object-fit: contain;
}

.heading-text-wrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0%;
}

.inner-heading-text-wrap{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.heading-title{
    color: #333;
    font-size: 6rem;
}

.heading-desc{
    margin-top: 3rem;
    color: #333;
    font-size: 4rem;
}

.button-class{
    width: 20vw;
    height: 10vh;
    cursor: pointer;
    user-select: none;
    background: rgb(0,0,0);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 3rem;
}

.button-class > a{
    color: white;
}

.featured-items-wrap{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featured-item{
    min-width: 10%;
    max-width: 20%;
    aspect-ratio: 1;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.featured-item-img{
    height: 70%;
    object-fit: contain;
    object-position: center;
    transition: height 0.2s;
}

.steps-wrap{
    background: rgb(223,0,0);
    margin-top: 20vh;
    width: 100%;
    padding: 0 10%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    color: white;
}

.step-wrap{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.step-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;

}

.step-img{
    height: 50%;
    object-fit: contain;
}

.step-title{
    font-size: 2vw;
}

.step-desc{
    font-size: 1vw;
}

.coolitem-wrap{
    margin-top: 20vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
}

.coolitem-image-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.coolitem-image-wrap-wrap{
    height: 85%;
    aspect-ratio: 1;
    margin-right: 5%;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coolitem-image{
    height: 100%;
    object-fit: cover;
}

.coolitem-text-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

.coolitem-title{
    color: #000;
    font-size: 6rem;
}

.coolitem-desc{
    margin-top: 3rem;
    color: #333;
    font-size: 4rem;
}

.inner-coolitem-text-wrap{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.reviews{
    background: rgb(223,0,0);
    margin-top: 15vh;
    gap: 5rem;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.review-button{
    cursor: pointer;
    height: 7.5rem;
    aspect-ratio: 1;
    border: none;
    background: black;
    color: white;
    font-size: 3vw;
}

#review-wrap{
    height: 70%;
    aspect-ratio: 1 / 1.5;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: opacity 0.4s;
    color: white;
}

#review-user-img{
    border-radius: 50%;
    width: 40%;
    aspect-ratio: 1;
    background: white;
}

#review-username{
    font-size: 2vw;
    text-align: center;
}

.review-stars{
    width: 50%;
}

#review-desc{
    text-align: center;
    width: 70%;
    font-size: 1vw;
}

/*Products page*/

#itemtopbar{
    margin-top: 0vh;
    width: 100%;
    height: 5vh;
    transform: translateY(10vh);
    display: flex;
    justify-content: space-between;
    z-index: 99;
    transition: height 0.5s linear;
}

.orderbywrap{
    width: 13%;
    display: flex;
    flex-direction: column;
}

#buttonsortwrap{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3vh;
    transition: margin-top 0.5s linear;
}

#opensortalgo{
    cursor: pointer;
    outline: none;
    border: none;
    width: 50%;
    height: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 69;
    background: rgba(0,0,0,0);
}

#opensortalgo:hover{
    color: rgb(223,0,0);
}

#opensortalgo-arrow{
    font-family: 'Vina Sans', cursive;
    font-size: 2.5rem;
    rotate: 90deg;
    transition: rotate 0.5s linear;
}

form{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    z-index: 69;
    gap: 5%;
    transition: opacity 0.5s linear;
}

#post-form > input{
    text-align: center;
    height: 20%;
    outline: none;
    border: none;
    background: rgba(0,0,0,0);
    font-size: 2rem;
    transition: font-size 0.2s linear;
}

#post-form > input:hover{
    font-size: 2.2rem;
    color: rgb(223,0,0);

}

.orderprice{
    gap: 1rem;
    margin-right: 1rem;
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderprice > input{
    height: 70%;
    width: 40%;
}

.orderprice > h3{
    font-size: 1.5rem;
}

#min-max-button{
    height: 70%;
    font-size: 2rem;
}

.items{
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    width: 100%;
}

.item-card{
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(30,0,0,0.1);
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    aspect-ratio: 1/1.5;
    width: 21vw;
    animation-fill-mode: forwards;
    animation: itemcardanim 0.3s linear;
}

.item-text-wrap{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}

.item-text{
    margin-left: 1rem;
    color: #333;
    transition: font-size 0.3s, color 0.3s;
    animation: itemtextanim 1s linear;
}

.item-name{
    margin-top: 1rem;
    font-size: 1.75vw;
}

.item-price{
    font-size: 1.6vw;
}

.item-img-wrap{
    padding-top: 2rem;
    width: 100%;
    height: 60%;
    top: 5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img{
    width: 60%;
    object-fit: contain;
}

.item-card:hover > .item-text-wrap > .item-name{
    color: rgb(223,0,0);
    font-size: 2vw;
}

.search-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-wrap{
    background: #FFF;
    width: 30%;
    height: 5rem;
    text-align: left;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon{
    height: 80%;
    aspect-ratio: 1;
    background-image: url(../../static/img/search-icon.webp);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
}

#search-bar{
    width: 100%;
    border: none;
    outline: none;
    font-size: 2.5rem;
    color: black;
}

#search-bar::placeholder{
    color: black;
}



/*Item page*/

.item-wrap{
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20vh;
}

.item-top-wrap{
    width: 100%;
    display: flex;
    justify-content: left;
}

.item-bottom-wrap{
    margin-top: 20vh;
    margin-left: 4vh;
    height: 40%;
    width: 80%;
}

.item-img-page-wrap{
    transform: translateX(-4vw);
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item-selection-wrap-wrap{
    position: relative;
    width: 55%;
    display: flex;
}

.item-selection-wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3vh;
}

.item-page-img{
    width: 70%;
    object-fit: contain;
}

.item-page-title{
    font-size: 5rem;
}

.item-page-price{
    font-size: 3rem;
}

.item-description{
    font-size: 2.5rem;
}

.add-to-cart{
    margin-top: 10vh;
    background: rgb(223,0,0);
    
}

.cart-wrap{
    transform: translateX(-5vh);
    margin-top: 3vh;
    z-index: 69;
    width: 12.5vw;
    background: red;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    transition: filter 0.2s, height 0.2s;
}

.cart-display-wrap-wrap{
    height: 100%;
    width: 100%;
    position: relative;
}

.cart-display-wrap{
    border-radius: 50%;
    background: black;
    color: white;
    aspect-ratio: 1;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
}
#cart-content-display{
    font-size: 2rem;
}

.cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: contain;
    height: 90%;
    z-index: -2;

}

.cart-wrap:hover > .cart{
    height: 92%;

}

.recommended-items-wrap-wrap{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommended-items-wrap-wrap > h3{
    font-size: 1.5vw;
    margin-bottom: 2rem;
}

.recommended-items-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    align-items: center;
    gap: 5%;
}

.recommended-item{
    aspect-ratio: 1;
    min-width: 25%;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    > img{
        height: 70%;
        overflow: hidden;
        object-fit: contain;
        object-position: center center;
    }
}

/*Shopping cart page*/

.shopping-cart{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: left;
    justify-content: center;
}

.shoppingcarttitle-wrap{
    margin-right: 7.5vw;
    width: 70%;
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.8rem;
}

.shopping-cartitems{
    width: 35%;
    margin-right: 2.5vw;
}

.shopping-carttotal{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: start;

}

.shopping-cart-item{
    margin-bottom: 5vh;
    width:100%;
    border: 1px solid rgba(0, 0, 0, 0.285);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.shopping-product-price-bottom{
    display: flex;
    gap: 3%;
}

.product-amount-wrap{
    width: 8.5rem;
    height: 3.5rem;
    border: 1px solid rgba(0, 0, 0, 0.731);
    border-radius: 5px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-item{
    cursor: pointer;
    height: 3.5rem;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-item > img{
    object-fit: contain;
    width: 60%;
    filter: brightness(0);
}

.shopping-cart-item:nth-of-type(1){
    margin-top: 5vh;
}
.shopping-img-wrap{
    width: 40%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-img{
    object-fit: contain;
    height: 70%;
    transform: translateY(-5%);
}

.shopping-product-info{
    gap: 10%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.shopping-product-title{
    font-size: 2rem;
}

.shopping-product-price{
    font-size: 2.5rem;
}

.summary-back{
    margin-top: 23vh;
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-radius: 10px;
    background: rgb(247, 247, 247);
}

.summarytitle{
    font-size: 2.5rem;
}

.betweenbar{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap: 3rem;
    border-top: 1px solid #0000004e;
    border-bottom: 1px solid #0000004e;
}

.sending-costs{
    font-size: 1.2rem;
}

.subtotal{
    font-size: 1.6rem;
}

.total{
    font-size: 1.6rem;
}
.summarybar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.continuetopay{
    background: rgb(223,0,0);
    color: #fff;
    width: 100%;
    height: 7.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 300%;
    cursor: pointer;
}

.wiggleclass{
    animation: wiggle 0.2s infinite linear;
}

.register-section{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    width: 100%;
    height: 100vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.register-section > h1{
    padding: 0 20%;
}

.register-section > img{
    object-fit: contain;
    height: 50%;
}

.item-card:hover > .item-text-wrap > .item-name{
    color: rgb(223,0,0);
    font-size: 3.5vw;
}

.item-price{
    font-size: 2.5vw;
}

.items{
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1250px) {
    html{
        font-size: 50%;
    }
    .coolitem-text-wrap{
        margin-left: 0;
    }
    .coolitem-text-wrap{
        width: 60%;
    }
    .coolitem-image-wrap{
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    #review-username{
        font-size: 3rem;
    }
    #review-desc{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 850px) {
    .title{
        font-size: 3vw;
    }

    .item-card{
        width: 40vw;
    }
    .item-name{
        font-size: 3vw;
    }
    #review-username{
        font-size: 2rem;
    }
    #review-desc{
        font-size: 1.5rem;
    }
    .reviews{
        gap: 1rem;
    }
    .orderbywrap{
        width: 20%;
    }
    .shopping-cartitems{
        width: 45%;
    }
    .shopping-carttotal{
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    .coolitem-wrap{
        flex-direction: column-reverse;
    }
    .coolitem-desc{
        opacity: 0;
    }
    .coolitem-image{
        height: 70%;
        object-fit: contain;
    }
    .coolitem-image-wrap{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .coolitem-image-wrap-wrap{
        width: 100%;
    }
    .coolitem-text-wrap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .coolitem-title{
        text-align: center;
    }
    .heading{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading-text-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }
    form{
        align-items: start;
        padding-left: 2rem;
    }
    .shopping-cart{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shopping-cartitems{
        width: 70%;
    }
    .shopping-carttotal{
        width: 70%;
        margin-bottom: 10vh;
    }
    .summary-back{
        margin-top: 5vh;
    }
}


@media screen and (max-width: 650px) {
    .item-top-wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-selection-wrap-wrap{
        width: 80%;
    }
    .item-img-page-wrap{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .bottomheader > form{
        padding-right: 2rem;
    }
    .title{
        opacity: 0;
    }
    
    select{
        height: 60%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 400px) {
    select{
        font-size: 5vw;
    }
    .item-card{
        width: 70vw;
    }

    .items{
        grid-template-columns: 1fr;
    }

    .item-name{
        font-size: 5.5vw;
    }

    .item-card:hover > .item-text-wrap > .item-name{
        color: rgb(223,0,0);
        font-size: 6vw;
    }

    .item-price{
        font-size: 4.5vw;
    }
    .bottomheader > div{
        padding: 1rem;
        justify-content: left;
    }

    .title{
        font-size: 4vw;
    }
}

@keyframes itemcardanim{
    0%{
        transform: translateY(4rem);
        opacity: 0;
        
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes itemtextanim{
    0%{
        transform: translateX(-5rem);
        opacity: 0;
        
    }

    80%{
        transform: translateX(-5rem);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes wiggle{
    0%{
        rotate: 0deg;
    }
    33%{
        rotate: -25deg;
    }
    66%{
        rotate: 25deg;
        font-size: 2.5rem;
    }
    99%{
        font-size: 2rem;
        rotate: 0deg;
    }
    
}